<h1 class="title"><%= label %></h1>
<div class="collections-editor" id="editor"></div>
<!--<div class="collections">
    <div class="collection">
        <span class="title">IndianStates</span>
        <span class="fa fa-angle-down"></span>
        <div class="cats">
            <div class="cat">
                <span class="title">states</span>
                <span class="fa fa-angle-down"></span>
                <div class="items">
                    <div class="item">
                        <span class="title">lul</span>
                        <span class="fa fa-angle-down"></span>
                        <div class="item-edit">
                            <div>
                                <span class="label">Value</span>
                                <input class="inp" type="text" />
                            </div>
                            <div>
                                <span class="label">Value</span>
                                <input class="inp" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<br />
<span id="saveBtn" class="btn btn-primary"><span class="fa fa-save"></span> Save</span>