<h1 class="title"><%= name %></h1>
<div class="code-editor" id="editor"></div>
<br />
<span id="saveBtn" class="btn btn-primary"><span class="fa fa-save"></span> Save</span>
<span id="cancelBtn" class="btn btn-secondary">Cancel</span>