<h1 class="title">Command Line</h1>
<div class="cmd">
    <div id="cmd.content" class="content"></div>
    <div class="bottom">
        <span class="fa fa-angle-right"></span>
        <form action="/api/server/command" method="POST" id="cmd.form">
            <input name="command" autocomplete="off" id="cmd.input" type="text" placeholder="Enter a command...">
        </form>
    </div>
</div>