<header class="header">
    <span id="UI.MenuButton" class="fa fa-bars menu-btn"></span>
    <div class="site-display">
        <span class="fa fa-cube"></span>
        <span class="title">RecoveryHub Minecraft</span>
    </div>

    <div class="right">
        <div class="loggedin-user">
            <span class="lu-txt">Logged in as Administrator<b></b>.</span> <a class="link" href="/logout">Log Out</a>
        </div>
    </div>
</header>